.bundle-card {
  display: inline-table;
  width: 350px;
  height: 300px;
  padding: 30px;
  margin: 20px;
  background-color: aqua;
  box-shadow: 10px 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  /* font-size: large; */
  /* background-color: red; */
}

.flock-card {
  display: inline-table;
  font-size: 20px;
  width: 200px;
  height: 150px;
  padding: 30px;
  margin: 20px;
  background-color: lightskyblue;
  box-shadow: 10px 10px;
  padding-top: 10px;
  padding-bottom: 30px;
}

h3 {
  text-align: center;
  font-size: 28px;
}

.new-bundle-input-form {
  display: inline-block;
}

input[type="text"] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type="submit"] {
  display: inline-block;
  border-radius: 4px;
  background-color: plum;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  /* width: 200px; */
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

input[type="submit"] span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

input[type="submit"] span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

input[type="submit"] span {
  padding-right: 25px;
}

input[type="submit"]:hover span:after {
  opacity: 1;
  right: 0;
}
.homepage-container {
  width: 100%;
  height: 100%;
  color: purple;
  animation-name: example;
  animation-duration: 1.5s;
  animation-iteration-count: 3;
  font-size: 36px;
  text-align: center;
}

@keyframes example {
  from {
    color: rgb(124, 96, 248);
  }
  to {
    color: purple;
  }
}
