.bundle-card {
  display: inline-block;
  /* 
   */
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: large;
  /* background-color: red; */
}

h3 {
  text-align: center;
  font-size: 28px;
}
